$eastern-blue: #1e81b0;
$powder-blue: #abdbe3;
$green-white: #eeeee4;
$burnt-sienna: #e28743;
$tacao: #eab676;
$glacier: #76b5c5;
$eternity: #21130d;
$burnt-umber: #873e23;
$catalina-blue: #063970;
$chathams-blue: #154c79;
$bg-gradient: linear-gradient(#abdbe3, #1e81b0);
$btn-gradient-hover: linear-gradient(#1e81b0, #abdbe3);