$eastern-blue: #1e81b0;
$powder-blue: #abdbe3;
$green-white: #eeeee4;
$burnt-sienna: #e28743;
$tacao: #eab676;
$glacier: #76b5c5;
$glacier-transparent: rgba(118, 181, 197, 0.4);
$eternity: #21130d;
$burnt-umber: #873e23;
$catalina-blue: #063970;
$chathams-blue: #154c79;
$bg-gradient: linear-gradient(rgb(171, 219, 227), rgb(30, 129, 176));
$btn-bg-gradient: linear-gradient(#76b5c5, #abdbe3);
$btn-gradient-hover: linear-gradient(#1e81b0, #abdbe3);