@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap');
@import "header.scss";
@import "hero.scss";
@import "colors.scss";

$nav-list-font-weight: 600;

/*Variables*/
$body-font-size: 1.6rem;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Global size*/
html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: $body-font-size;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

section {
  padding: 5rem 0;
}

.container {
  width: 100%;
  max-width: 120rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

